* {margin: 0;padding: 0;box-sizing: border-box;}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #222;
}
.slide_box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.slide_main_img {
    width: 550px;
    height: 550px;
    border-radius: 30px;
}
.select_btns_box {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.select_btns {
    width: 100px;   
    height: 100px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    border: 4px solid #444;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
}
.select_btns.active {
    border: 4px solid #ddd;
}